@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Потом добавить стили для ссылок и прочего тем, самым запрактиковать стили */
body {
    margin: 0;
    padding: 0;
    background: url("img/noutbuk_kniga_estetika_214147_3840x2400.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

    /*Сделать задний фон пересмотреть как это делается*/
    /*и посмотреть как связать стили может из-за этого не отображается картинка*/
}

/* m40 = margin: 40px; */
/* mt40=margin-top: 40px; */
/* ml40=margin-left: 40px; */
/* mr40=margin-right: 40px; */
/* По умолчанию в px  */
/* pos=position: relative; */
/* t0=top: 0; */
/* dib=display: inline-block; */
/* p5px10 =padding: 5px 10px;- 5 вверх низ 10 по бокам */
/* bd = border: 1px solid #000; } </style> */

/* Стили */

#Yakor {
    background: wheat;
    text-decoration-line: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    float: right;
    margin-right: 50px;
    border-radius: 25px 25px;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid pink;

}

#Yakor:hover {
    background: wheat;
    color: rgb(45, 43, 43);
    cursor: pointer;
    float: right;
    margin-right: 50px;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    border-radius: 50px 50px;
    padding: 10px 10px;
    text-align: center;
    border: 3px solid plum;


    /* Работа с текстом */
    /* text-align: center; */
    /* font-size: 14px; размер шрифта */
    /* font-style: italic; текст наклонным  */
    /* font-weight: 300; */
    /* font-family: 'Inconsolata', monospace; */
    /* @import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap'); вставить в верх */
    /* text-transform: uppercase; */
    /* word-spacing: 20px; */
    /* letter-spacing: 2px; */
    /* line-height: 20px; */

    /* стили для блоков) */
    /* border: 1px solid #000; */
    /* border-style: dotted; смена стиля обводки */
    /* border-width: 2px; смена ширины */
    /* border-radius: 25% 25%; */
    /* opacity: 0.9; */
    /* text-align: center; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* margin: 50px; по всем сторонам 50px */
    /* margin-top: 50px; */
    /* padding-left: 40px; */
    /* box-sizing: border-box;чтобы при padding блок не увеличивался */
    /* display: block; если строчный элимент  inline - строка*/
    /* float: left; */
    /* line-height: 100px; */
    /* height: 100px; - текст по центру */
    /* position: relative; */
    /* padding - ты даёшь ширину высоту кнопки */
}

#Imgtest {
    background: orange;
    color: black;
    border: 1px solid yellow;
    border-radius: 20px 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
    float: left;
    margin-left: 490px;
    margin-right: 30px;
}

#Imgtest:hover {
    background: orange;
    color: rgb(0, 0, 0);
    border: 2px solid yellow;
    text-align: center;
    padding: 10px 10px;
    border-radius: 20px 20px;
    position: relative;
    text-decoration: underline;
    margin-right: 30px;
}

#comp {
    background: orange;
    color: black;
    border: 1px solid yellow;
    border-radius: 20px 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
    top: -18px;
    margin-left: 5px;
    float: left;
    margin-right: 30px;
}

#comp:hover {
    background: orange;
    color: rgb(0, 0, 0);
    border: 2px solid yellow;
    text-align: center;
    padding: 10px 10px;
    border-radius: 20px 20px;
    position: relative;
    text-decoration: underline;
    margin-right: 30px;
}

#email {
    background: orange;
    color: black;
    border: 1px solid yellow;
    border-radius: 20px 20px;
    text-align: center;
    text-decoration: none;
    padding: 10px 10px;
    position: relative;
    top: -37px;
    margin-left: 5px;
    float: left;
}

#email:hover {
    background: orange;
    color: rgb(0, 0, 0);
    border: 2px solid yellow;
    text-align: center;
    padding: 10px 10px;
    border-radius: 20px 20px;
    position: relative;
    text-decoration: underline;
}

.img {

    opacity: 0.9;
    /* display: block; */
    float: left;
    margin-left: 25px;
    border: 1px solid black;
    border-radius: 50px 50px;
    margin-right: 50px;
    position: relative;
    right: 385px;
}

#table {
    position: relative;
    bottom: 150px;
    border: 5px solid yellow;
}

.input {
    margin-left: 100px;
    text-align: center;
}

#button {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    background: blue;
    margin-left: 42%;
    border: 5px solid rgb(0, 0, 0);
    color: rgb(2, 234, 255);
    padding: 10px 50px;
    border-radius: 10px 100px 10px 100px;
    position: fixed;
    opacity: 0.8;
    /* position: relative; */
    top: 700px
        /* поработать с текстом */
}

#inputpolya {
    margin-bottom: 3px;
    text-align: center;
}

#galochka {
    width: 10px;
    height: 10px;
}

#filedowland {}

#buttom {}

#textarea {}

#spisok {}

#details {}

/* после прописания стилей практика адаптивная вёрстка ссылка на 1 проект находится в Roadmap (тот который мой)  */